<div id="preload" class="preload">
    <div class="flat"></div>
    <!--<div class="square"><img width="100px" src="../../images/simbolo.png" alt=""></div>
    <div class="square-2"><img src="../../images/simbolo.png" alt=""></div>
    <div class="square-3"><img src="../../images/simbolo.png" alt=""></div>
    <div class="square-4"><img src="../../images/simbolo.png" alt=""></div>-->
</div>
<!-- /END PRELOAD -->

<!-- HEADER 1 -->
<header class="header head3">
    <div class="searchbar">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" name="search" value="" placeholder="Search" />
                <span class="input-group-btn"><button type="button" class="btn-close"></button></span>
            </div><!-- /input-group -->
        </div><!-- /container -->
    </div><!-- /searchbar -->

    <div class="top-header">
        <div class="container">
            <div class="top-left">
                <ul class="social-header">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
               
                </ul><!-- /social-header -->
            </div><!-- /top-left -->
            <div class="top-right">
                <ul class="info-header">
                    <li><i class="icon icon-phone"></i>(547) 5818740</li>
                     <li><i class="fa fa-mobile"></i>+57 317 4411859</li>
                                <li><i class="fa fa-envelope-o"></i><a href="#">alejovelez10@gmail.com</a></li>
                    
                </ul><!-- /info-header -->
            </div><!-- /top-right -->
        </div><!-- /container -->
    </div><!-- /top-header -->

    <div class="main-header main-header-3">
        <div class="container">
            <!-- LOGO -->
            <div class="logo">
                <a href="index.html"><img src="../../img/logo.jpg" alt="logo" /></a>
            </div><!-- /#logo -->
            <!-- END / LOGO -->

            <!-- MOBILE MENU -->
            <div class="mobile-nav-menu" data-menu-number="3">
                <span class="icon">&nbsp;</span>
            </div><!-- /mobile-nav-menu -->
            <!-- /END MOBILE MENU -->

            <!-- SEARCH BUTTON -->
            <div class="search-btn"><span class="fa fa-search"></span></div>
            <!-- END / SEARCH BUTTON -->

            <!-- NAVIGATION -->
            <nav class="navigation nav3" data-menu-type="1199">
                <ul class="nav text-uppercase">
                    <li>
                        <a href="#home" class = "active">Inicio</a>
                    </li>
      
                   
                    
                    <li> <a href="#caracteristicas">Caracteristicas</a></li>
                                     
                   
                    <li> <a href="#precios">Precios</a></li>
                    <li> <a href="#contactenos">Contactenos</a></li>
                     <li> <a href="https://psicloud.herokuapp.com/users/sign_in">INGRESAR</a></li>
                     <li> <a href="https://psicloud.herokuapp.com/users/sign_up" class="btn btn-primary" style="color:white">Crear Cuenta</a></li>
                </ul><!-- /nav -->
            </nav>
            <!-- END / NAVIGATION -->
        </div><!-- /container -->
    </div><!-- /main-header -->
</header><!-- /header -->
<!-- END / HEADER 1 -->

<div id="page-wrap">
    <!-- HOME MEDIA -->
    <section id="home" class="home bg-black fix">
                <div class="overlay1"></div>
                <div class="container">
                    <div class="row">
                        <div class="main_home text-center">
                            <div class="col-md-12">
                                <div class="hello_slid">
                                    <div class="slid_item">
                                        <div class="home_text ">
                                            <h2 class="text-white">Bienvenido a<strong> Psicloud</strong></h2>
                                            <h1 class="text-white">Historia Clinica para Psicologos</h1>
                                  
                                        </div>
<br>
                                        <div class="home_btns m-top-60">
                                            <a href="" class="btn btn-primary m-top-20">Probar Ahora</a>
                                            <a href="" class="btn btn-default m-top-20">Contactanos</a>
                                        </div>
                                    </div><!-- End off slid item -->
                             
                                </div>
                            </div>

                        </div>


                    </div><!--End off row-->
                </div><!--End off container -->
            </section> <!--End off Home Sections-->
    <!-- END / HOME MEDIA -->


       <section id="caracteristicas" class="features" style="padding: 50px 10px;background: white;">
                <div class="container">
                    <div class="row">
                          <h2 class="section-header center" style="font-size:20px">Caracteristicas</h2><br>
                        <div class="main_features fix roomy-70">
                            <div class="col-md-4">
                                <div class="features_item sm-m-top-30">
                                    <div class="f_item_icon">
                                        <i class="fa fa-users" aria-hidden="true"></i>

                                    </div>
                                    <div class="f_item_text text-justify">
                                        <h3>Administre sus pacientes</h3>
                                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque eleifend
                                            in sit amet mattis volutpat rhoncus.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="features_item sm-m-top-30">
                                    <div class="f_item_icon">
                                        <i class="fa fa-tablet"></i>
                                    </div>
                                    <div class="f_item_text text-justify">
                                        <h3>Cree Historia Clinica Digital</h3>
                                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque eleifend
                                            in sit amet mattis volutpat rhoncus.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="features_item sm-m-top-30">
                                    <div class="f_item_icon">
                                       <i class="fa fa-files-o" aria-hidden="true"></i>
                                    </div>
                                    <div class="f_item_text text-justify">
                                        <h3>Gestion de Archivos</h3>
                                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque eleifend
                                            in sit amet mattis volutpat rhoncus.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                            <br><br><br>
                                
                            </div>
                             <div class="col-md-4">
                                <div class="features_item sm-m-top-30">
                                    <div class="f_item_icon">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </div>
                                    <div class="f_item_text text-justify">
                                        <h3>Gestion de Citas</h3>
                                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque eleifend
                                            in sit amet mattis volutpat rhoncus.</p>
                                    </div>
                                </div>
                            </div>
                                                         <div class="col-md-4">
                                <div class="features_item sm-m-top-30">
                                    <div class="f_item_icon">
                                      
<i class="fa fa-file-o" aria-hidden="true"></i>
                                    </div>
                                    <div class="f_item_text text-justify">
                                        <h3>Gestion de Formatos</h3>
                                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque eleifend
                                            in sit amet mattis volutpat rhoncus.</p>
                                    </div>
                                </div>
                            </div>
                                                         <div class="col-md-4">
                                <div class="features_item sm-m-top-30">
                                    <div class="f_item_icon">
                                      <i class="fa fa-bar-chart" aria-hidden="true"></i>
                                    </div>
                                    <div class="f_item_text text-justify">
                                        <h3>Estadisticas</h3>
                                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque eleifend
                                            in sit amet mattis volutpat rhoncus.</p>
                                    </div>
                                </div>

                            </div>

                        





                        </div>
                    </div><!-- End off row -->
                </div><!-- End off container -->
            </section><!-- End off Featured Section-->




 <section id="features" class="features" style="padding: 50px 10px;background: #3b9bb9;">
                <div class="container">
                    <div class="row">

                        <div class="main_features fix roomy-70">
                            <div class="col-md-4 text-center">

                             <div class="text-center" style="margin-bottom:20px;">
                                 
                             <i class="fa fa-cloud" style = "    padding: 24px;color:#3b9bb9;
    background: white;
    font-size: 40px;
    border-radius: 50%;" aria-hidden="true"></i></div>
                                <div class="features_item sm-m-top-30">
                                   
                                       

                                   
                                    <div class="f_item_text">
                                        <h3 style = "color:white">100% en la nube</h3>
                                        <p style = "color:white">Psicloud es una aplicación online, diseñada para psicologos, por estar en la nube puedes acceder a tu cuenta desde cualquier lugar y dispositivo.</p>
                                    </div>
                                </div>
                            </div>
                             <div class="col-md-4 text-center">

                             <div class="text-center" style="margin-bottom:20px;">
                                 
                             <i class="fa fa-lock" style = "       padding: 24px 32px;;color:#3b9bb9;
    background: white;
    font-size: 40px;
    border-radius: 50%;" aria-hidden="true"></i></div>
                                <div class="features_item sm-m-top-30">
                                   
                                       

                                   
                                    <div class="f_item_text">
                                        <h3 style = "color:white">Seguridad</h3>
                                        <p style = "color:white">La información de tus pacientes siempre protegida por los mejores sistemas de seguridad, hospedada en los servidores especializados de Amazon, no tienes que preocuparte por copias de seguridad o costosa infraestructura.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                              <div class="text-center" style="margin-bottom:20px;">
                                 
                            <i class="fa fa-clock-o" style = "    padding: 24px;color:#3b9bb9;
    background: white;
    font-size: 40px;
    border-radius: 50%;" aria-hidden="true"></i></div>
                                <div class="features_item sm-m-top-30">
                                    
                                    <div class="f_item_text ">
                                        <h3 style = "color:white">Actualizaciones en <br>tiempo real</h3>
                                        <p style = "color:white">Cada vez que ingresas a Psicloud, tienes acceso instantáneo a la versión más reciente de tu Aplicación.</p>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="col-md-12">
                            <br><br><br>
                                
                            </div>


                        



                        

                        </div>
                    </div><!-- End off row -->
                </div><!-- End off container -->
            </section><!-- End off Featured Section-->




<div class="wrapper" id = "precios">
        <!-- PRICING-TABLE CONTAINER -->
        <br><br>
        <h2 class="section-header center" style="font-size: 20px;margin-left:20px;">Precios</h2>
        <div class="pricing-table group">
              
            <!-- PERSONAL -->
            <div class="block personal fl">
                <h2 class="title">personal</h2>
                <!-- CONTENT -->
                <div class="content">
                    <p class="price">
                        <sup>$</sup>
                        <span>29</span>
                        <sub>/mo.</sub>
                    </p>
                    <p class="hint">Perfect for freelancers</p>
                </div>
                <!-- /CONTENT -->
                <!-- FEATURES -->
                <ul class="features">
                    <li><span class="fontawesome-cog"></span>1 WordPress Install</li>
                    <li><span class="fontawesome-star"></span>25,000 visits/mo.</li>
                    <li><span class="fontawesome-dashboard"></span>Unlimited Data Transfer</li>
                    <li><span class="fontawesome-cloud"></span>10GB Local Storage</li>
                </ul>
                <!-- /FEATURES -->
                <!-- PT-FOOTER -->
                <div class="pt-footer">
                    <p>Host My Website</p>
                </div>
                <!-- /PT-FOOTER -->
            </div>
            <!-- /PERSONAL -->
            <!-- PROFESSIONAL -->
            <div class="block professional fl">
                <h2 class="title">Para pequeñas Clinicas</h2>
                <!-- CONTENT -->
                <div class="content">
                    <p class="price">
                        <sup>$</sup>
                        <span>99</span>
                        <sub>/mo.</sub>
                    </p>
                    <p class="hint">Suitable for startups</p>
                </div>
                <!-- /CONTENT -->
                <!-- FEATURES -->
                <ul class="features">
                    <li><span class="fontawesome-cog"></span>10 WordPress Install</li>
                    <li><span class="fontawesome-star"></span>100,000 visits/mo.</li>
                    <li><span class="fontawesome-dashboard"></span>Unlimited Data Transfer</li>
                    <li><span class="fontawesome-cloud"></span>20GB Local Storage</li>
                </ul>
                <!-- /FEATURES -->
                <!-- PT-FOOTER -->
                <div class="pt-footer">
                    <p>Host My Website</p>
                </div>
                <!-- /PT-FOOTER -->
            </div>
            <!-- /PROFESSIONAL -->
            <!-- BUSINESS -->
            <div class="block business fl">
                <h2 class="title">Para grandes Clinicas</h2>
                <!-- CONTENT -->
                <div class="content">
                    <p class="price">
                        <sup>$</sup>
                        <span>249</span>
                        <sub>/mo.</sub>
                    </p>
                    <p class="hint">Para Clinicas </p>
                </div>
                <!-- /CONTENT -->

                <!-- FEATURES -->
                <ul class="features">
                    <li><span class="fontawesome-cog"></span>25 WordPress Install</li>
                    <li><span class="fontawesome-star"></span>400,000 visits/mo.</li>
                    <li><span class="fontawesome-dashboard"></span>Unlimited Data Transfer</li>
                    <li><span class="fontawesome-cloud"></span>30GB Local Storage</li>
                </ul>
                <!-- /FEATURES -->

                <!-- PT-FOOTER -->
                <div class="pt-footer">
                    <p>Host My Website</p>
                </div>
                <!-- /PT-FOOTER -->
            </div>
            <!-- /BUSINESS -->
        </div>
        <!-- /PRICING-TABLE -->
    </div>
    <!-- ABOUT -->



<section class="section bg-white bd-b pt-50 pb-50" id = "testimonios">
        <div class="container">
            <h2 class="section-header center" style="font-size:20px;">Testimonios</h2>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="testimonial testimonial-slider" data-number-slide="2">
                        <div class="item">
                            <div class="testimonial-status">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,</div>
                            <div class="testimonial-author clearfix">
                                <img src="img/team/1.jpg" alt="" class="img-circle" />
                                <h5 class="text-uppercase text-right">Mark Alexis</h5>
                                <p class=" text-right">Ceo &amp; Founder - envato</p>
                            </div><!-- /testimonial-author -->
                        </div><!-- /item -->

                        <div class="item">
                            <div class="testimonial-status">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,</div>
                            <div class="testimonial-author clearfix">
                                <img src="img/team/2.jpg" alt="" class="img-circle" />
                                <h5 class="text-uppercase text-right">Jennifer Holland</h5>
                                <p class=" text-right">Ceo &amp; Founder - envato</p>
                            </div><!-- /testimonial-author -->
                        </div><!-- /item -->

                        <div class="item">
                            <div class="testimonial-status">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,</div>
                            <div class="testimonial-author clearfix">
                                <img src="img/team/3.jpg" alt="" class="img-circle" />
                                <h5 class="text-uppercase text-right">Maurell Parker</h5>
                                <p class=" text-right">Ceo &amp; Founder - envato</p>
                            </div><!-- /testimonial-author -->
                        </div><!-- /item -->

                        <div class="item">
                            <div class="testimonial-status">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,</div>
                            <div class="testimonial-author clearfix">
                                <img src="img/team/4.jpg" alt="" class="img-circle" />
                                <h5 class="text-uppercase text-right">David Coulson</h5>
                                <p class=" text-right">Ceo &amp; Founder - envato</p>
                            </div><!-- /testimonial-author -->
                        </div><!-- /item -->
                    </div><!-- /testimonial -->
                </div><!-- /col -->
            </div><!-- /row -->

          
        </div><!-- /container -->
    </section>










    <!-- END / ICON BOX -->

    <!-- PORTFOLIO 1 -->
    
    <!-- END / PORTFOLIO 1 -->

    <!-- COUNTER 1 -->
   
    <!-- END / COUNTER 1 -->
    
    <!-- NEWS -->
   
    <!-- END / NEWS -->

    <!-- OUR LEADERS -->
   
   
    <!-- END / GET QUOTE -->

    <!-- FOOTER -->
    <footer id="contactenos" class="footer bg-primary">
        <div class="foot-widget">
            <div class="container">
                <div class="row">
                  

                   

                    <div class="clearfix hidden-lg hidden-md hidden-xs"></div>

                    <div class="col-md-6">
                        <aside class="widget widget_contact">
                            <h2 class="widget-title h2" style="font-size:30px;font-weight:bold">Contactanos:</h2>
                             <aside class="w">
                                <ul>
                                    <li><i class="fa fa-map-marker"></i>Dir. CR 77C # 48-98 </li>
                                    <li><i class="icon icon-phone"></i>+574 5818740</li>
                                    <li><i class="fa fa-mobile"></i>+57 317 4411859</li>
                                    <li><i class="fa fa-envelope-o"></i>alejovelez10@gmail.com</li>
                                </ul>
                            </aside><!-- /widget_contact -->
                            <ul class="social-list" "><br>
                                 <a href="#" class="text-center" style="margin-bottom:20px;margin-right:10px;">
                                 
                            <i class="fa fa-facebook" style = "    padding: 14px 24px;color:#3b9bb9;
    background: white;
    font-size: 40px;
    border-radius: 50%;" aria-hidden="true"></i></a>
                               <a href="#" class="text-center" style="margin-bottom:20px;margin-right:10px;">
                                 
                            <i class="fa fa-twitter" style = "       padding: 16px 14px;
    color: #3b9bb9;
    background: white;
    font-size: 36px;
    border-radius: 50%;" aria-hidden="true"></i></a>
     <a href="#" class="text-center" style="margin-bottom:20px;margin-right:10px;">
                                 
                            <i class="fa fa-instagram" style = "    padding: 13px 18px;color:#3b9bb9;
    background: white;
    font-size: 40px;
    border-radius: 50%;" aria-hidden="true"></i></a>
     <a href="#" class="text-center" style="margin-bottom:20px;">
                                 
                            <i class="fa fa-linkedin" style = "    padding: 13px 18px;color:#3b9bb9;
    background: white;
    font-size: 40px;
    border-radius: 50%;" aria-hidden="true"></i></a>
                            </ul>
                        </aside><!-- /widget_contact -->
                    </div><!-- /col -->
 <div class="col-md-6 ">
                        <aside class="widget widget_subscribe">
                              <div class="alert alert-success" style="margin-top:5px;display:none">
                Tu contacto se envío con exito.
            </div>     
                                 <%=form_tag create_contacto_path, method: :post, remote:true do %>
                                 <div class="group clearfix">
                                         <div class="group-item mb-30">
                                 <%= text_field_tag :name, nil,placeholder: "Nombre" %>
                                          </div>
                                          <div class="group-item mb-30">
                                 <%= email_field_tag :email, nil, placeholder: "Email" %>
                                   </div>
                                          </div>
                              
                                 <%= text_area_tag :message,nil, placeholder: "Mensaje", class: "mb-20" %>

                                 <%= submit_tag "Enviar Mensaje", class: "btn btn-primary radius"%>
                                 <div id="contact-content" style="padding-top: 20px"></div>
                            <%end%>           

                          
                    
                        </aside><!-- /widget_subscribe -->
                    </div><!-- /col -->
                </div><!-- /row -->
            </div><!-- /container -->
        </div><!-- /foot-widget -->

        <div class="foot-credit">
            <div class="container">
             
                <p>Cortana &copy; 2015 By MegaDrupal. All rights Reserved</p>
            </div><!-- /container -->
        </div><!-- /foot-credit -->
    </footer>
    <!-- END / FOOTER -->
</div><!-- /page-wrap -->

<!-- JQUERY -->

<style>

/*
Inspired by the dribble shot http://dribbble.com/shots/1285240-Freebie-Flat-Pricing-Table?list=tags&tag=pricing_table
*/

/*--------- Font ------------*/
@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*------ utiltity classes -----*/
.fl{ float:left; }
.fr{ float: right; }
/*its also known as clearfix*/
.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}
.group {
    zoom: 1;  /*For IE 6/7 (trigger hasLayout) */
}
.pricing-table p
{
    color:white;
}

.wrapper {
    
}
.pricing-table {
    width: 80%;
    margin: 50px auto;
    text-align: center;
    padding: 10px;
    padding-right: 0;
}
.pricing-table .heading{
    color: #9C9E9F;
    text-transform: uppercase;
    font-size: 1.3rem;
    margin-bottom: 4rem;
}
.block{
    width: 30%;    
    margin: 0 15px;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;    
/*    border: 1px solid red;*/
}
/*Shared properties*/
.title,.pt-footer{
    color: #FEFEFE;
    text-transform: capitalize;
    line-height: 2.5;
    position: relative;
}
.content{
    position: relative;
    color: #FEFEFE;
    padding: 20px 0 10px 0;
}
/*arrow creation*/
.content:after, .content:before,.pt-footer:before,.pt-footer:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.pt-footer:after,.pt-footer:before{
    top:0;
}
.content:after,.pt-footer:after {
    border-color: rgba(136, 183, 213, 0);   
    border-width: 5px;
    margin-left: -5px;
}
/*/arrow creation*/
.price{
    position: relative;
    display: inline-block;
    margin-bottom: 0.625rem;
}
.price span{    
    font-size: 6rem;
    letter-spacing: 8px;
    font-weight: bold;        
}
.price sup{
    font-size: 1.5rem;    
    position: absolute;    
    top: 12px;
    left: -12px;
}
.hint{
    font-style: italic;
    font-size: 0.9rem;
}
.features{
    list-style-type: none;    
    background: #FFFFFF;
    text-align: left;
    color: #9C9C9C;
    padding:30px 22%;
    font-size: 0.9rem;
}
.features li{
    padding:15px 0;
    width: 100%;
}
.features li span{
   padding-right: 0.4rem; 
}
.pt-footer{
    font-size: 0.95rem;
    text-transform: capitalize;
}
/*PERSONAL*/
.personal .title{        
    background: #5bc0de;    
}
.personal .content,.personal .pt-footer{
    background: #5bc0de;
}
.personal .content:after{   
    border-top-color: #5bc0de;  
}
.personal .pt-footer:after{
    border-top-color: #FFFFFF;
}
/*PROFESSIONAL*/
.professional .title{
    background: #5bc0de;
}
.professional .content,.professional .pt-footer{
    background: #5bc0de;
}
.professional .content:after{   
    border-top-color: #5bc0de;  
}
.professional .pt-footer:after{
    border-top-color: #FFFFFF;
}
/*BUSINESS*/
.business .title{
    background: #5bc0de;
}
.business .content,.business .pt-footer{
    background: #5bc0de;
}
.business .content:after{   
    border-top-color: #5bc0de;  
}
.business .pt-footer:after {    
    border-top-color: #FFFFFF;  
}
    
</style>


<script>
    $(document).ready(function () {
  $(document).on("scroll", onScroll);

  $('nav a[href^="#"]').on('click', function (e) {
    e.preventDefault();
    $(document).off("scroll");

    $('nav a').each(function () {
      $(this).removeClass('active');
    })
    $(this).addClass('active');

    var target = this.hash;
    $target = $(target);
    $('html, body').stop().animate({
      'scrollTop': $target.offset().top+2
    }, 500, 'swing', function () {
      window.location.hash = target;
      $(document).on("scroll", onScroll);
    });
  });
});

function onScroll(event){
  var scrollPosition = $(document).scrollTop();
  $('nav a').each(function () {
    var currentLink = $(this);
    var refElement = $(currentLink.attr("href"));
    if (refElement.position().top <= scrollPosition && refElement.position().top + refElement.height() > scrollPosition) {
      $('nav a').removeClass("active");
      currentLink.addClass("active");
    }
    else{
      currentLink.removeClass("active");
    }
  });
}
</script>